.head {
    font-size: 50px;
    text-align: center
  }
  .logo{
    height: 50px;
    margin-right: 10px;
  }
  .app{
    text-align: center;
  }
  .box{
    max-width: 200px;
    margin: 50px auto;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  }
  P{
    font-size: 24px;
    text-align: center;
  }
  button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    border-color: transparent;
  }
.add{
  background-color: rgb(228, 122, 122);
}
.sub{
  background-color: rgb(103, 155, 103);
}
.reset{
  background-color: rgb(112, 141, 185);
}
.main{
  display: flex;
  align-items: center; 
  margin: 10px;
}
.app {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

button {
  background-color: #ff5555;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #ff3333;
}
